<!DOCTYPE html>
<html lang="en">
<!-- Head defines favicon, title on tab, and 'meta' stuff -->
<head>
	<meta charset="utf-8">
	<title>Legendary Roller</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="http://www.favicon.cc/logo3d/115470.png">
      <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0, no-store">
      <meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
      <meta http-equiv="pragma" content="no-cache">

</head>

<body>

<h2>What does the Ordered Chaos Roller Do?</h2>
<h3>Baddies</h3>
<ol>
	<li>Picks a Scheme</li>
	<li>Picks a Mastermind, the Villain they always lead, and the Hero they alwasy fight</li>
	<li>Picks another Villain if the first is Spider-Infected or Doombot Legion</li>
	<li>Picks another Mastermind if the Scheme is Dark Alliance or Secret Wars</li>
	<li>If players are 2 or more picks another Villain and the Hero they always fight</li>
	<li>If players are 3 or more picks another Vilain</li>
	<li>If players are 4 or more picks another Villain</li>
	<li>Picks Henchmen if first Villain is not Spider-Infected or Doombot Legion</li>
	<li>Picks a Henchmen and the Hero they always fight</li>
	<li>Picks a Henchmen depending on several Scheme conditions</li>
</ol>
<br>
<br>
<h3>Heroes</h3>
<ol>
	<li>Picks a random Hero</li>
	<li>Picks another Hero if Scheme is Super Hero Civil War AND 2 players</li>
	<li>If players are 5 picks another Hero</li>
	<li>Chooses the number of Bystanders</li>
</ol>
<a class="btn btn-default" href="/" role="button">Return Home</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69442301-3', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
