<!DOCTYPE html>
<html lang="en">
<!-- Head defines favicon, title on tab, and 'meta' stuff -->
<head>
	<meta charset="utf-8">
	<title>Legendary Roller</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="http://www.favicon.cc/logo3d/115470.png">
      <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0, no-store">
      <meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
      <meta http-equiv="pragma" content="no-cache">

</head>

<body>

<h1>Legal</h1>
<p>This site, LegendaryRoller.com, makes no claims of ownership or property on any photos, images, backgrounds, or names of any characters or depections on this website.
	All such items are strictly owned by their repsective copyright owners. LegendaryRoller.com's usage of such content is strictly to promote and facilitate a better gaming
	experience for Upper Deck Entertainment's 'Legendary: A Marvel Deck Building Game'. Any and all content can be removed at anytime by request of the copyright owner,
	LegendaryRoller.com reserves the right to make any changes to the website's content at anytime, without prior notice. </p><br><br>

<h1>Other Concerns:</h1>
<p>Questions, Bug Reports, or Concerns can be left on the forum post found <a href='#'>here</a></p><br>
<a class="btn btn-default" href="/" role="button">Return Home</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69442301-3', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
